@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*============================== Global configuration ==============================*/

html {
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}

@screen lg {
  html {
    font-size: 18px;
  }
}

@screen xl {
  html {
    font-size: 22px;
  }
}

body {
  font-family: 'Quicksand', 'Helvetica Neue', Arial, sans-serif;
  min-width: 360px;
  @apply m-auto
}

header,
section,
footer {
  @apply relative
}

img {
  @apply w-full;
}

h1, 
h2, 
h3 
{
  font-family: 'Quicksand', Arial, sans-serif;
}

/*============================== Project styling ==============================*/

.content blockquote {
  margin: 1rem 0 1rem 0
}

.content h1 {
  @apply text-6xl text-blue-500 leading-none;
}
